*,body 
{
    margin: 0;
    padding: 0;
}
input
{
    border: 0px;
}
input.description
{
    width: 170px;
}
input.optimus,
input.nominal,
input.worst
{
    width: 40px;
}
div.newtask
{
    text-align: center;
}
div.newtask,
ul li.header
{
    font-size: 11px;
}
span.O
{
    margin-left:231px;
}
span.N,
span.P
{
    padding-left: 30px;
}
span.PP
{
	padding-left: 10px;
}
div.right,
div.left
{
   width: 15%;
   height: 100%;
   float: left;
}

div.content
{
   width: 70%;
   float: left;
   margin-top: 20px;
}

ul
{
    list-style:none
}

div.summary
{
    color: orange;
    font-size: 22px;
    float:right;
    font-weight: bold;
    text-align: center;
    width: 180px;
    height: 70px;
    margin-right: 40px;
}

.content {
    max-width: 620px;
    background: url(rs-right.png) right repeat-y }
.content:before {
    display: block;
    line-height: 0;
    background: url(rs-topright.png) top right no-repeat;
    content: url(rs-topleft.png) }
.content:after {
    display: block;
    line-height: 0;
    background: url(rs-bottomright.png) bottom right no-repeat;
    content: url(rs-bottomleft.png) }

.content div.tasks
{
    margin-top: 10px;
    padding-left: 20px;
}
.content h1
{
    margin-top: 10px;
    padding-left:30px;
    padding-bottom: 30px;
}
.content div.lower
{
    padding-top: 25px;
}
input.error
{
   color:red;
}
div.explanation,
div.catcher
{
    font-size: 11px;
}
div.explanation p
{
    margin-left: -68px;
    padding-top: 40px;
    text-align: center;
}
div.sum
{
    margin-left: 5px;
}
div.tasks ul
{
    padding-left:50px;
}
div.catcher,
img.delete,
img.download,
img.add,
img.clear
{
    cursor: pointer;
}
img.download
{
    float:right;
    margin-right: 50px;
}
img.clear
{
    padding-left: 50px;
}
